@model Tracker.Web.ViewModels.Partials.Forms.InputFields.DateOnlyInputViewModel

<label for="@Model.InputName">@Model.InputLabel</label>
<input type="date" id="@Model.InputName" name="@Model.InputName" value="@Model.DateValue"/>
