<!-- Shower Activity Modal -->

<div id="NewShowerActivityModal" class="modal" style="display:none;">
  <div class="modal-content">
    <h3 id="NewShowerActivityModalTitle">Add Shower Activity</h3>
    <form id="NewShowerActivityForm" method="post">

        @Html.Partial("~/Views/Partials/Forms/InputFields/DateTimeInput.cshtml", new DateTimeInputViewModel("startShowerTime", "Start Time:", "endShowerTime", "End Time"))
        <br/>
        @Html.Partial("~/Views/Partials/Forms/InputFields/CheckBoxInput.cshtml", new GenericInputViewModel("shavedBody", "Shaved Body"))
        <br/>
        @Html.Partial("~/Views/Partials/Forms/InputFields/CheckBoxInput.cshtml", new GenericInputViewModel("shavedFace", "Shaved Face"))
        <br/>
        @Html.Partial("~/Views/Partials/Forms/InputFields/TextInput.cshtml", new GenericInputViewModel("note", "Note:"))
        <br/>
        @Html.Partial("~/Views/Partials/Forms/InputFields/AddOrCloseButtons.cshtml", new AddOrCloseButtonsViewModel("NewShowerActivityModal"))

    </form>
  </div>
</div>