@model Tracker.Web.ViewModels.Partials.DayRecordDisplayViewModel

<div style="border: 2px dashed #ffa; margin: 2em 0; padding: 1em; background-color: #fffce0;">
    <div style="border: 1px solid #ccc; margin: 1em 0; padding: 1em;">
        <h3>@Model.Record.RecordDate  @if(Model.AllowEdit){<button onclick="openModal('ChangeDate', 'UpdateDayInProgressDate', 'Change Day In Progress Date')" class="btn btn-sm btn-outline-primary">Change Date</button>}</h3>

        @Html.Partial("~/Views/Partials/RecordDisplays/AiRecordDisplay.cshtml", new AiRecordDisplayViewModel(Model.AllowEdit, Model.Record.AiDailyOverview))
        @Html.Partial("~/Views/Partials/RecordDisplays/NoteRecordsDisplay.cshtml", new NoteRecordsDisplayViewModel("Mood Notes", "AddMoodNote", "Add Mood Note", Model.AllowEdit, Model.Record.MoodNotes))
        @Html.Partial("~/Views/Partials/RecordDisplays/NoteRecordsDisplay.cshtml", new NoteRecordsDisplayViewModel("Context Notes", "AddContextNote", "Add Context Note", Model.AllowEdit, Model.Record.ContextNotes))
        @Html.Partial("~/Views/Partials/RecordDisplays/SleepRecordsDisplay.cshtml", new SleepRecordsDisplayViewModel(Model.AllowEdit, Model.Record.SleepRecords))
        @Html.Partial("~/Views/Partials/RecordDisplays/HygeineRecordDisplay.cshtml", new HygeineRecordDisplayViewModel(Model.AllowEdit, Model.Record.Hygeine))
        @Html.Partial("~/Views/Partials/RecordDisplays/FoodRecordsDisplay.cshtml", new FoodRecordsDisplayViewModel(Model.AllowEdit, Model.Record.FoodRecords))
        @Html.Partial("~/Views/Partials/RecordDisplays/DrinkRecordsDisplay.cshtml", new DrinkRecordsDisplayViewModel(Model.AllowEdit, Model.Record.DrinkRecords))
        @Html.Partial("~/Views/Partials/RecordDisplays/WorkRecordDisplay.cshtml", new WorkRecordDisplayViewModel(Model.AllowEdit, Model.Record.WorkDayRecord))
        @Html.Partial("~/Views/Partials/RecordDisplays/ExerciseRecordsDisplay.cshtml", new ExerciseRecordsDisplayViewModel(Model.AllowEdit, Model.Record.ExerciseSessions))
        @Html.Partial("~/Views/Partials/RecordDisplays/GamingRecordsDisplay.cshtml", new GamingRecordsDisplayViewModel(Model.AllowEdit, Model.Record.GamingSessions))
        @Html.Partial("~/Views/Partials/RecordDisplays/GenericActivityRecordsDisplay.cshtml", new GenericActivityRecordsDisplayViewModel("Piano", "AddPianoActivity", "Add Piano Record", Model.AllowEdit, Model.Record.PianoRecords))
        @Html.Partial("~/Views/Partials/RecordDisplays/GenericActivityRecordsDisplay.cshtml", new GenericActivityRecordsDisplayViewModel("Chores", "AddChoreActivity", "Add Chore Record", Model.AllowEdit, Model.Record.ChoreActivities))
        @Html.Partial("~/Views/Partials/RecordDisplays/GenericActivityRecordsDisplay.cshtml", new GenericActivityRecordsDisplayViewModel("Chat with GPT", "AddGptChatActivity", "Add GptChat Record", Model.AllowEdit, Model.Record.GptChatActivities))
        @Html.Partial("~/Views/Partials/RecordDisplays/GenericActivityRecordsDisplay.cshtml", new GenericActivityRecordsDisplayViewModel("Other", "AddOtherActivity", "Add Other Activity Record", Model.AllowEdit, Model.Record.OtherActivities))
    </div>
</div>

@if(Model.AllowEdit)
{
    @Html.Partial("~/Views/Partials/DataEntryModals.cshtml")
}